appdirs==1.4.4
asgiref==3.2.10
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.2.0
boto3==1.14.16
botocore==1.17.16
certifi==2020.6.20
chardet==3.0.4
codecov==2.1.7
Collectfast==2.2.0
colorama==0.4.3
coverage==5.1
decorator==4.4.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.8
django-debug-toolbar==2.2
django-extensions==3.0.2
django-ordered-model==3.4.1
django-s3-folder-storage==0.5
django-storages==1.9.1
docutils==0.15.2
filelock==3.0.12
flake8==3.8.3
gunicorn==20.0.4
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
jmespath==0.10.0
mccabe==0.6.1
model-mommy==2.0.0
more-itertools==8.4.0
packaging==20.4
parso==0.7.0
pickleshare==0.7.5
pipenv==2020.6.2
pluggy==0.13.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
pytest-django==3.9.0
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
requests==2.24.0
s3transfer==0.3.3
sentry-sdk==0.16.0
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
typing-extensions==3.7.4.2
urllib3==1.25.9
virtualenv==20.0.25
virtualenv-clone==0.5.4
wcwidth==0.2.5
