{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivos{% endblock title %}
{% block description %}Página com todos vídeos gratuitos{% endblock description %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">Lista de Vídeos Aperitivos</h1>
                <ol>
                    {% for video in videos %}
                        <li><a href="{{ video.get_absolute_url }}">{{ video.titulo | default:"Faltando Título" }}</a></li>
                    {% empty %}
                        <li>Não foi encontrado nenhum vídeo de aperitivo</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock body %}