{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{modulo.titulo}}{% endblock title %}
{% block description %}Página com detalhes do módulo {{ modulo.titulo }}{% endblock description %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">{{ modulo.titulo}}</h1>
                <dl>
                    <dt>Público</dt>
                    <dd>{{ modulo.publico }}</dd>
                    <dt>Descrição</dt>
                    <dd>{{ modulo.descricao }}</dd>
                </dl>
                <h2>Aulas</h2>
                <ol>
                    {% for aula in aulas %}
                        <li><a href="{{ aula.get_absolute_url }}">{{ aula.titulo }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock body %}