{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h2>
                        Curso de Python com Luciano Ramalho
                    </h2>

                    <h4 class="mt-4">Matrículas abertas! Custo R$ 1000,00</h4>
                    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                    <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post"
                          onsubmit="PagSeguroLightbox(this); return false;">
                        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                        <input type="hidden" name="code" value="7A04378D0101CC1224B6DF84017C792B"/>
                        <input type="hidden" name="iot" value="button"/>
                        <input type="image"
                               src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif"
                               name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
                    </form>
                    <script type="text/javascript"
                            src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
                    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

                    {#                <h4 class="mt-4"> Entre na fila de espera</h4>#}
                    {##}
                    {#                <form action="https://python.us7.list-manage.com/subscribe/post?u=298725d1b42f74339d8bcc8db&amp;id=03c8c5bd04"#}
                    {#                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"#}
                    {#                      class="form-row align-items-center" target="_blank" novalidate>#}
                    {#                    <div class="form-row align-items-center">#}
                    {#                        <div class="col-auto">#}
                    {#                            <label class="sr-only" for="mce-EMAIL">Email</label>#}
                    {#                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"#}
                    {#                                   placeholder="exemplo@email.com">#}
                    {#                        </div>#}
                    {#                        <div class="col-auto">#}
                    {#                            <label class="sr-only" for="mce-FNAME">Email</label>#}
                    {#                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">#}
                    {#                        </div>#}
                    {##}
                    {#                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
                    {#                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"#}
                    {#                                                                                                  name="b_298725d1b42f74339d8bcc8db_03c8c5bd04"#}
                    {#                                                                                                  tabindex="-1"#}
                    {#                                                                                                  value=""></div>#}
                    {##}
                    {##}
                    {#                        <div class="col-auto">#}
                    {#                            <input type="submit" value="Salvar" name="subscribe"#}
                    {#                                   id="mc-embedded-subscribe" class="btn btn-primary">#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                </form>#}


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        Mais detalhes sobre o instrutor
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                                 class="img-thumbnail float-left mr-3"/>
                            Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e autor do
                            Livro
                            <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Python
                                Fluente</a>.
                            Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                            Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde
                            1998.
                            Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                            Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou
                            a
                            criar a Associação Python Brasil e foi seu presidente. É membro da Python Software
                            Foundation e
                            fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
